
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  border-left: 1px solid @base-border-color;
}

.tree-view {
  color: @text-color;
  text-shadow: 0 0 5px @text-color;
  background-color: @tree-view-background-color;

  .list-item.selected {
    color: @text-color-selected;
    text-shadow: 0 0 5px @text-color-selected;
  }
}

.atom-dock-resize-handle.left.atom-dock-resize-handle-resizable{
  background: @base-border-color;
  box-shadow: 0 0 5px @text-color;
  height: 100%;
  position: absolute;
  width: 1px;
  z-index: 30;
}
